<nav class="great-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <ul class="great-footer--list">
                    <li><a href="terms-and-conditions">{{labels.terms_and_conditions}}</a></li>
                    <li><a href="privacy-policy">{{labels.privacy_policy}}</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-offset-1 col-xs-4 col-xs-offset-4 dit-footer--logo">
                <a href="https://www.gov.uk" class="image-link"><img src="/assets/img/hmg-logo.png" class="great-hmg-logo" alt="HM Government"></a>
                <ul class="list-unstyled">
                    <li>&copy; Crown copyright 2016</li>
                </ul>
            </div>
        </div>
    </div>
</nav>