<nav class="dit-footer">
    <div class="row padding-top--4">
        <div class="col-md-6 col-md-offset-1">
            <ul class="dit-footer--list">

                <li><a href="/">{{labels.home}}</a></li
>               <li><a href="/{{locale.country}}/industries">{{labels.industries}}</a></li>
                <li><a href="/{{locale.country}}/investment-guide">{{labels.investment_guide}}</a></li>
                <li><a href="#">{{labels.privacy}}</a></li>
                <li><a href="#">{{labels.terms}}</a></li>
                <li><a href="#">{{labels.contact}}</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-md-offset-1 col-xs-4 col-xs-offset-4 dit-footer--logo">
            <img class="img-responsive" src="/assets/img/HM Gov logo.png" alt="">
            <img class="img-responsive" src="/assets/img/iigb-logo-big-white.png" alt="">
        </div>
    </div>
</nav>