{% if locale.language === 'en' %}
<script>
    window.language = 'en';
</script>
{% endif %}
{% if locale.language === 'de' %}
<script>
    window.language = 'de';
</script>
{% endif %}
{% if locale.language === 'zh' %}
<script>
    window.language = 'cn';
</script>
{% endif %}

<script>
    $(document).ready(function () {
        enhance();
        prepareForm();
        setTimeout(showcontent, 500);
        setTimeout(removeloading, 1000);
        setTimeout(onLoaded, 1005);
    });

    function showcontent() {
        $('.dit-outer-wrap').show();
    }

    function removeloading() {
        $('.dit-loading').fadeOut(300);
    }

    function enhance() {
        enhance_videobg();
        // zoomImageHoverLink();
    }

    function enhance_videobg() {
        if ($('#bgVid').length > 0 || $('#bgImg').length > 0) {
            $('.jumbotron').addClass('bg--transparent');
        }
    }

    function onLoaded() {
        smoothScroll();
        addActive();
    }

    function smoothScroll() {
        //smoothscrolling and positioning
        $('a[href^="#"]').on('click', function (e) {
            // prevent default anchor click behavior
            e.preventDefault();
            // store hash
            var hash = this.hash;
            // animate
            $('html, body').stop().animate({
                scrollTop: $(hash).offset().top
            }, 600, 'swing', function () {
                window.location.hash = hash;
            });
        });
    }

    function addActive() {
        var url = window.location.pathname;
        var language = url.match(/\/\w{2}\//);
        var child = '';
        if (url.match(/\/industries\//)) {
            child = 'industries/';
        } else if (url.match(/\/investment-guide\//)) {
            child = 'investment-guide/';
//        } else if (url.match('\/help\/')) {
//            child = 'help/';
        } else if (url.match(/\/\w{2}\/$/)) {
            child = '';
        }

        if ($('ul.nav a')) {
            $('ul.nav a[href="' + language[0] + child + '"]').parent().addClass('active');
        }
    }

    function prepareForm() {
      var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn'),
        allPrevBtn = $('.prevBtn');

      allWells.hide();

      navListItems.click(function(e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
          $item = $(this);

        if (!$item.hasClass('disabled')) {
          navListItems.removeClass('active-selection')
{#                  .addClass('btn-default');#}
{#          navListItems.removeClass('btn');#}
{#          navListItems.removeClass('btn-circle');#}
          $item.addClass('active-selection');
{#          $item.addClass('btn');#}
{#          $item.addClass('btn-circle');#}
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
        }
      });

      allNextBtn.click(function() {
        var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='email'], #turnover:selected, #staff:selected"),
          isValid = true;

        console.log(curStep);
        console.log(curStepBtn);
        console.log(curInputs);


        $(".form-group").removeClass("has-error");
        for (var i = 0; i < curInputs.length; i++) {
          if (!curInputs[i].validity.valid) {
            isValid = false;
            $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
        }


        if (isValid)
          nextStepWizard.removeAttr('disabled').trigger('click');
      });

      allPrevBtn.click(function() {
        var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='email'], #turnover:selected, #staff:selected, #country:selected, #location:selected"),
          isValid = true;

        if (isValid)
          prevStepWizard.removeAttr('disabled').trigger('click');
      });

      $('div.setup-panel div a.active-selection').trigger('click');
    }

    $(window).on('resize', function () {
        //
    });
</script>
