<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Great!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <style type="text/css">
        .dit-loading {
            position: fixed;
            z-index: 100;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
        }
    </style>

</head>

<body>
<div class="dit-loading"></div>
<noscript>
<style type="text/css">
.dit-loading {display: none;}
.dit-outer-wrap {display: block;}
</style>
</noscript>

    <div class="great-brand">
        <img src="../assets/img/great-logo.png" alt="">
    </div>
    <div class="great-hero">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>{{contentBlocks.pageHeader.content.title}}</h1>
                </div>
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    {{contentBlocks.pageHeader.content.contents | safe}}
                </div>
                <div class="col-sm-12 text-center"><hr></div>
                <div class="col-sm-12 text-center">
                    {% if locale.country %}
                    {% if locale.country === 'int'%}
                    <h2 class="util-font-size--body">International (English) selected</h2>
                    {% else %}
                    <h2 class="util-font-size--body">{{labels.I_am_based_in}} <span class="great-current-locale"><span class="great-flag-circle great-flag-circle--{{locale.country}}"></span>{% if locale.country === 'uk'%}United Kingdom{% elseif locale.country === 'us' %}United States{% elseif locale.country === 'cn' %}中国{% elseif locale.country === 'in' %}India{% elseif locale.country === 'de' %}Deutschland{% endif %}</span></h2>
                    {% endif %}
                    <a href="#" class="great-locale-selctor__toggle">{{labels.change_country}}</a>
                    {% endif %}
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <div class="great-locale-selctor">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <h3>Choose your country</h3>
                         <ul class="great-equal-hights-container">
                            <li><a href="/uk"><span class="great-flag-circle great-flag-circle--uk"></span>United Kingdom</a></li>
                            <li><a href="/us"><span class="great-flag-circle great-flag-circle--us"></span>United States</a></li>
                            <li><a href="/cn"><span class="great-flag-circle great-flag-circle--cn"></span>中国</a></li>
                            <li><a href="/in"><span class="great-flag-circle great-flag-circle--in"></span>India</a></li>
                            <li><a href="/de"><span class="great-flag-circle great-flag-circle--de"></span>Deutschland</a></li>
                            <li><a href="/int" class="util-mar--0">I'm in another country <span class="great-locale-selctor__help-ext">view in international (English)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% block content %}
{% endblock %}

    <div class="section section--great-cta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 great-cta-block">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>{{contentBlocks.pageFooter.content.contents | safe }}</h2>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{contentBlocks.pageFooter.link_target}}" class="great-btn great-btn--white">{{labels[contentBlocks.pageFooter.link_label]}}</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="great-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../assets/img/hmg-stacked.png" class="great-hmg-logo" alt="HM Government">
                </div>
                <div class="col-xs-12">
                    <ul class="list-unstyled">
                        <li class="pull-left">&copy; Crown copyright 2016</li>
                        <li class="pull-right"><a href="#">{{labels.privacy_policy}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/equalHeight.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script src="/assets/js/main-great.js"></script>

</body>

</html>
