// footer.scss

.dit-footer {
  margin-top: 50px;
  height: 200px;
  background-color: $text-colour !important;

  &--list {
    margin-top: 28px;
    > li {
      display: inline-block;
      height: 25px;
      margin-top: 10px;
      padding: 1px 15px;
      border-right: 1px solid $text-colour;
      &:last-of-type {
        border-right: 0 solid $text-colour;
      }

      a {
        color: $background-colour;
      }
    }
  }

  &--logo {
    > img {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}