//main-nav

.dit-main-nav {
  // position: absolute;
  // top: 80px;
  // left: -20px;
  // width: 100%;
  // border: 0 solid #F2F2F2;
  background: $white;
  // margin: 0;
  // z-index: 10;

  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }

  @media (max-width: $screen-sm-max) {
    position: relative;
    top: -80px;
    border-radius: 0;

    & > div {
      margin: 0 !important;
    }
  }

  @media (max-width: $screen-sm-max) {
    position: relative;
    top: 0;
    border-radius: 0;

    & > div {
      margin: 0 !important;
    }
  }

}