body {
	background-color:$stone-40;
	background-image: url(../img/great-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 16px;
	color: $dark-grey;
}

.great-brand {
	text-align: center;

	img {
		border: 20px solid $white;

		margin-bottom: -20px;
	}
}

.great-hero {
	background-color: $great-blue;
	background-color: rgba(30, 19, 72, 0.8);
	color: $white;
	padding: 40px 0 80px 0;

	h1 {
		font-size: 64px;
		font-weight: 700;
	}

	.lead {
		border-bottom: 1px solid $white;
		padding: 40px 0;
	}
}

.great-tiles-wrapper {
	position: relative;
	top: -50px;
}

.great-tile {



	background-color: $white;
	margin: 0 0 30px 0;
	padding: 15px;
	float: left;
	width: 100%;
	position: relative;

	&--half {
		margin-right: 4%;
		width: 48%;
	}

	&--third {
		margin-right: 4%;
		width: 30.66666667%;
	}

	&-omega {
		margin-right: 0 !important;
	}

	&--sub-tile{
		background-color: $stone-40;
		border: 1px solid $stone;
		// margin-right: 1%;
		width: 32.66666667%;
		margin: 15px 1% 0 0;
	}

	h1, h2, h3 {
		margin-top: 0;
	}

	@media (max-width: $screen-xs-max) {
      width: 100% !important;
      margin-right: 0;
    }

    .great-btn {
		position: absolute;
		bottom: 15px;
    }

}

.great-locale-selctor {
	margin-top: 40px;
	background-color: $stone-40;
	color: $dark-grey;
}

.section {
	width: 100%;
	background-color: $white;

	&--stone-40 {
		background-color: $stone-40;
	}

	&--great-cta {
		background-color: transparent;
		padding: 150px 0;
	}
}

.great-cta-block {
	background-color: $great-blue;
	background-color: rgba(30, 19, 72, 0.8);
	color: $white;
	padding: 30px 15px;

	h1, h2, h3 {
		margin: 0;
	}

	h2 {
		font-size: 24px;
	}
}

.great-btn {
	padding: 15px 20px;
	display: inline-block;
	border: 3px solid $link-blue;
	color: $link-blue;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		background-color: $link-blue;
		color: $white;
	}

	&--white {
		border: 3px solid $white;
		color: $white;

		&:hover {
			text-decoration: none;
			background-color: $white;
			color: $link-blue;
		}
	}
}

.util-padd {
	&-top {
		//
	}

	&-bottom {
		&--btn {
			padding-bottom: 90px;
		}
	}
}






