//_quick-guide-side.scss

.dit-quick-guide-side {
  ol {
    list-style: decimal;
    padding-left: 30px;

    li {
      margin-bottom: 12px;
      display: list-item;
      position: static;
      padding: 0 30px 0 8px;

      &:before {
        content: "";
        display: none;
      }
    }
  }
}