{% extends "base/index.html" %}
    {% block content %}
    <div class="section section--stone-40">
        <div class="container great-tiles-wrapper">
            <div class="row">
                <div class="col-sm-12 great-tile">
                    <h2>Help to sell abroad</h2>
                    <p>This is your global opportunity.</p>
                    <ul class="list-unstyled great-equal-hights-container">
                        <li class="great-tile great-tile--sub-tile util-padd-bottom--btn">
                            <h3>New to exporting</h3>
                            <p>If you've not done business abroad before, find out how exporting can secure and grow your business.</p>
                            <a href="#" class="great-btn">I'm new to exporting</a>
                        </li>
                        <li class="great-tile great-tile--sub-tile util-padd-bottom--btn">
                            <h3>Selling abroad occasionally</h3>
                            <p>If you do business with overseas customers but not all the time, you may find exporting more regularly can be profitable.</p>
                            <a href="#" class="great-btn">I want to export more</a>
                        </li>
                        <li class="great-tile great-tile--sub-tile util-padd-bottom--btn great-tile-omega">
                            <h3>Experienced exporters</h3>
                            <p>We have time-saving online tools and services, listings of opportunities as well as access to funding to help you grow your business abroad.</p>
                            <a href="#" class="great-btn">Find new opportunities</a>
                        </li>
                    </ul>
                </div>
            </div>

             <div class="row great-equal-hights-container">
                <div class="great-tile great-tile--half util-padd- util-padd-bottom--btn">
                    <h2>Get seen by overseas buyers</h2>
                    <p>We're promoting export-ready UK companies to international business on the Great Trade Index. Sign up for this free service to boost your profile.</p>
                    <a href="#" class="great-btn">Get a Trade Index profile</a>
                </div>
                <div class="great-tile great-tile--half util-padd-bottom--btn great-tile-omega">
                    <h2>Support for investment</h2>
                    <p>Find out about the UK’s wealth of investment opportunities and how the government supports British business through international capital.</p>
                    <a href="#" class="great-btn">See our sector showcase</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}