<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Great!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <style type="text/css">
        .dit-loading {
            position: fixed;
            z-index: 100;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
        }
    </style>

</head>

<body>
<div class="dit-loading"></div>
<noscript>
<style type="text/css">
.dit-loading {display: none;}
.dit-outer-wrap {display: block;}
</style>
</noscript>

    <div class="great-brand">
        <img src="../assets/img/great-logo.png" alt="">
    </div>
    <div class="great-hero">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Your UK opportunity</h1>
                    <p class="lead">The UK. Home to cutting edge innovators, a place that nurtures talent. <br class="hidden-xs"> Your future belongs here.</p>
                    <h2> I am based in <span class="great-current-locale">United States</span></h2>
                    <a href="#" class="great-locale-selctor__toggle">Change country or region</a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <div class="great-locale-selctor">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <h3>Choose your country or region</h3>
                         <ul class="great-equal-hights-container">
                            <li><a href="#"><span class="great-flag-circle great-flag-circle--uk"></span>United Kingdom</a></li>
                            <li><a href="#"><span class="great-flag-circle great-flag-circle--cn"></span>中国</a></li>
                            <li><a href="#"><span class="great-flag-circle great-flag-circle--us"></span>United States</a></li>
                            <li><a href="#"><span class="great-flag-circle great-flag-circle--de"></span>Deutschland</a></li>
                            <li><a href="#"><span class="great-flag-circle great-flag-circle--in"></span>India</a></li>
                            <li><a href="#" class="util-mar--0">Im in another country or region <span class="great-locale-selctor__help-ext">view in international (English)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section section--stone-40">
        <div class="container great-tiles-wrapper">
            <div class="row">
                <div class="col-sm-12 great-tile">
                    <h2>Get help to sell abroad</h2>
                    <p>The demand is out there. You should be too.</p>
                    <ul class="list-unstyled great-equal-hights-container">
                        <li class="great-tile great-tile--sub-tile util-padd-bottom--btn">
                            <h3>New to exporting?</h3>
                            <p>If you’ve never exported before of haven’t for a while, learn how exporting can grow your business and offer extra security. Our 10-step guide is an ideal starting point for your export journey.</p>
                            <a href="#" class="great-btn">I'm new to exporting</a>
                        </li>
                        <li class="great-tile great-tile--sub-tile util-padd-bottom--btn">
                            <h3>Sell overseas occasionally?</h3>
                            <p>If you fill orders for overseas customers now and again, learn how you can make your exports more profitable and expand into new markets. Our guidance demystifies exporting and lets you focus on the products or services you provide.</p>
                            <a href="#" class="great-btn">I want to up my game</a>
                        </li>
                        <li class="great-tile great-tile--sub-tile util-padd-bottom--btn great-tile-omega">
                            <h3>Experienced exporter?</h3>
                            <p>If you’re a regular exporter looking for new customers there are many ways we can help, from time-saving online tools and guidance to listings of new opportunites, services and funding.</p>
                            <a href="#" class="great-btn">Find new opportunities</a>
                        </li>
                    </ul>
                </div>
            </div>

             <div class="row great-equal-hights-container">
                <div class="great-tile great-tile--half util-padd- util-padd-bottom--btn">
                    <h2>Support for investment</h2>
                    <p>Find out about the UK’s wealth of investment opportunities and how the government supports British business through international capital.</p>
                    <a href="#" class="great-btn">See our sector showcase</a>
                </div>
                <div class="great-tile great-tile--half util-padd-bottom--btn great-tile-omega">
                    <h2>Get seen by overseas buyers</h2>
                    <p>We’re promoting export-ready UK companies to international businesses on the GREAT Trade Index. Sign up for this free service to boost your profile.</p>
                    <a href="#" class="great-btn">Get a Trade Index listing</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--great-cta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 great-cta-block">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>The UK supports international trade and investment, and welcomes travellers and students from across the world.</h2>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="great-btn great-btn--white">Experience the UK</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="great-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">HMG logo</div>
                <div class="col-xs-12">
                    <ul class="list-unstyled">
                        <li class="pull-left">&copy; Crown copyright 2016</li>
                        <li class="pull-right"><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/equalHeight.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script src="/assets/js/main-great.js"></script>

</body>

</html>
