<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Great!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

</head>

<body>


    <div class="great-brand">
        <img src="../assets/img/great-logo.png" alt="">
    </div>
    <div class="great-hero">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Your UK opportunity</h1>
                    <p class="lead">The UK. Home to cutting edge innovators, a place that nurtures talent. <br> Your future belongs here.</p>
                    <h2> I am based in <span class="great-current-locale">United States</span></h2>
                    <a href="#">Change country or region</a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <div class="great-locale-selctor">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <h3>Choose your country or region</h3>
                         <ul>
                            <li>United Kingdom</li>
                            <li>中国</li>
                            <li>Untied States</li>
                            <li>Deutschland</li>
                            <li>India</li>
                            <li>Im in another country or region <span class="great-locale-selctor__helpt-ext">view in international (English)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <div class="container great-tiles-wrapper">
        <div class="row">
            <div class="col-sm-12 great-tile">
                <h2>Get help to sell abroad</h2>
                <p>The demand is out there. You should be too.</p>

                <div class="great-tile great-tile--sub-tile">
                    <article>
                        <h1>New to exporting?</h1>
                        <p>If you’ve never exported before of haven’t for a while, learn how exporting can grow your business and offer extra security. Our 10-step guide is an ideal starting point for your export journey.</p>
                        <a href="#" class="great-cta">I'm new to exporting</a>
                    </article>
                </div>
                <div class="great-tile great-tile--sub-tile">
                    <article>
                        <h1>Sell overseas occasionally?</h1>
                        <p>If you fill orders for overseas customers now and again, learn how you can make your exports more profitable and expand into new markets. Our guidance demystifies exporting and lets you focus on the products or services you provide.</p>
                        <a href="#" class="great-cta">I want to up my game</a>
                    </article>
                </div>
                <div class="great-tile great-tile--sub-tile great-tile-omega">
                    <article>
                        <h1>Experienced exporter?</h1>
                        <p>If you’re a regular exporter looking for new customers there are many ways we can help, from time-saving online tools and guidance to listings of new opportunites, services and funding.</p>
                        <a href="#" class="great-cta">Find new opportunities</a>
                    </article>
                </div>
            </div>
        </div>
        
         <div class="row">
            <div class="great-tile great-tile--half">
                <article>
                    <h1>Support for investment</h1>
                    <p>Find out about the UK’s wealth of investment opportunities and how the government supports British business through international capital.</p>
                    <a href="#" class="great-cta">See our sector showcase</a>
                </article>
            </div>
            <div class="great-tile great-tile--half great-tile-omega">
                <article>
                    <h1>Get seen by overseas buyers</h1>
                    <p>We’re promoting export-ready UK companies to international businesses on the GREAT Trade Index. Sign up for this free service to boost your profile.</p>
                    <a href="#" class="great-cta">Get a Trade Index listing</a>
                </article>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>