{% extends "base/index.html" %}
    {% block content %}
    <div class="section section--stone-40">
        <div class="container great-tiles-wrapper">
            <div class="row great-equal-hights-container">
                <div class="col-sm-3 great-tile great-tile--quarter util-padd-bottom--btn">
                    <h2>Buy from the UK</h2>
                    <p>Sign up to get exclusive early access to profiles of high quality UK businesses ready to fulfill your demand.</p>
                </div>
                <div class="col-sm-3 great-tile great-tile--quarter util-padd-bottom--btn">
                    <h2>Invest in the UK</h2>
                    <p>Find out about the UK’s wealth of investment opportunities and find out how the government will support your venture.</p>
                    <a href="#" class="great-btn">See the potential</a>
                </div>
                <div class="col-sm-3 great-tile great-tile--quarter util-padd-bottom--btn">
                    <h2>Study in the UK</h2>
                    <p>Get a headstart from an exceptional British education that’ll inspire you to achieve greatness.</p>
                    <a href="#" class="great-btn">Learn more</a>
                </div>
                <div class="col-sm-3 great-tile great-tile--quarter great-tile-omega util-padd-bottom--btn">
                    <h2>Visit the UK</h2>
                    <p>See for yourself the unrivalled heritage, iconic landmarks and breathtaking scenery. Come and experience what makes Britain great.</p>
                    <a href="#" class="great-btn">Plan your trip</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}