{% extends "base/index.html" %}
    {% block content %}
    <div class="section">
        <div class="container great-tiles-wrapper">
            <div class="row">
                <div class="col-sm-3 great-tile">
                    test
                </div>
                <div class="col-sm-3 great-tile">
                    test
                </div>
                <div class="col-sm-3 great-tile">
                    test
                </div>
                <div class="col-sm-3 great-tile">
                    test
                </div>
            </div>
        </div>
    </div>
    {% endblock %}